
### SERVER SIDE ###
# Ignore bundler config.
/server/.bundle

# Ignore the default SQLite database.
/server/db/*.sqlite3
/server/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/server/log/*
/server/tmp/*
!/server/log/.keep
!/server/tmp/.keep

# Ignore Byebug command history file.
server/.byebug_history

### Rails ###
/server/public/system
# server/config/initializers/secret_token.rb
# server/config/credentials.yml.enc
# server/config/master.key
# server/config/secrets.yml
/server/.bundle
/server/vendor/bundle
server/.byebug_history

/server/node_modules
server/node_modules