<% title "Login", false, false %>

<div class="auth-box flex md-content layout-column" md-scroll-y>
	<div class="auth-card md-whiteframe-10dp">
		<div class="auth-logo">
			<%= inline_svg("logo.svg", :class => "logo") %>
		</div>
		<p class="auth-msg">
			Sign in to start your session.
		</p>
		<div class="row">
			<%= simple_form_for resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "md-form col s12", :novalidate => true}  do |f| %>
				<%#= f.input :login, :required => true, :input_html => { :autocomplete => "off", :autofocus => false, :hint => false }, :icon => "person_outline", :wrapper_html => { :class => "md-icon-float md-icon-left" } %>
				
				<md-form-group
					input-icon="person_outline"
					input-label="Login"
					input-type="text"
					input-name="user[login]"
					input-id="user_login">
				</md-form-group>
				<md-form-group
					input-icon="lock"
					input-label="Password"
					input-type="password"
					input-name="user[password]"
					input-id="user_password">
				</md-form-group>
				
				<div class="form-actions">
					<%= f.button :button, :class => "md-button" do %>
					  Submit
					<% end %>
				</div>
			<% end %>
		</div>
		<div class="row external-actions">
			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>