/*******************
  Utility Classes
*******************/

.hide {
  display: none !important;
}
// Text Align
.left-align {
  text-align: left;
}
.right-align {
  text-align: right
}
.center, .center-align {
  text-align: center;
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.br3 {
	border-radius: 3px !important;
}
